
.instructionsContent {   
    position: fixed;
    bottom: 100px;
    background-color: #606060;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
}

.dropup:hover .dropbtn {
    background-color: #484848;
}

.dropbtn {
    background-color: #15498B;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 12px;
  }