.player-card {
    border-radius: 2px;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    border-radius: 2px;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
}

.story {
    text-align: center;
    position: relative;
}

.staff {
    display: block;
    margin-left: auto;
    margin-right: auto;
}