.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}
  
/* .modal.modal-main {
      position:fixed;
      background: white;
      width: 40%;
      height: auto;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    } */
  
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 5px solid whitesmoke;
    height: 185px;
    width: 390px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
  }