body {
    background-image: url("../images/sign.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 860px;
  }
  
  form {
  background: #fff;
  opacity: 0.9;
  padding: 10px;
  max-width: 400px;
  margin: 20px auto 0;
  box-shadow: 0 0 16px #222;
  border-radius: 2px;
  }
  h2 {
    padding:10px;
    text-align:center;
    font-size:30px;
    color:#512D25;
    border-bottom:solid 1px #e5e5e5;
  }
  p {
    margin: 0 0 30px 0;
    position: relative;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 1px solid #C7C0BE;
    font-size: 25px;
    padding: 10px;
    border-radius: 2px;
  }
  /* input[type="text"]:focus,
  input[type="password"]:focus {
    background: #fff
  } */
  
  #submit {
    box-shadow: 0 3px 0 0 darken;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 34px;
    line-height: 50px;
    margin: auto;
    margin-top: 10px;
    outline: none;
    padding: auto;
    text-shadow: 0 2px #522624;
    background: #8B631C;
    text-shadow:0 1px 3px darken;
  }
  
  label {
    left: 8px;
    top: 12px;
    color: #392b28;
    font-size: 16px;
    display: inline-block;
    padding: 4px;
    padding-top: 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
  }