/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 8px;
  border: 2px solid black;
} */
