.tile {
    display: inline-flex;
    background-color: #42b842;
  }
    
  .rock {
    background-image: url('images/rock.png')
  }
  
  /* .tree {
    background-image: url('/tiles/tree.png')
  }
  
  .chest {
    background-image: url('/tiles/chest.png')
  } */